/* Import framework styles */
/* Import framework styles */
.AIQ-ui-list a {
    padding-top: 0.4em;
}

/*****************************************************************************
* Home view
*****************************************************************************/
#home {
    background-color: white;
}

/*****************************************************************************
* Add damage view
*****************************************************************************/
#add-damage {
    text-align: center;
}

#add-damage > div {
    margin: 1em;
    text-align: center;
}

#add-damage h1 {
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

#add-damage textarea {
    width: 100%;
    height: 12em;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#add-damage > button {
    padding: 0 1em;
}

/*****************************************************************************
* Damages view
*****************************************************************************/
#damages-header {
    height: auto;
}

#damages-header:before, #damages-header:after {
    content: "";
    display: table;
}

#damages-header:after {
    clear: both;
}

#damages-header > p {
    float: left;
    color: white;
    font-weight: bold;
    margin: 1.1em 0 0 1em;
}

#damages-header > button {
    float: right;
    padding: 0 1em;
    margin: 0.5em 1em;
}

#damages .AIQ-ui-list a {
    background: url("/aiq/css/assets/list-bg-default.png") repeat-x 0 0;
    background-size: auto 2.10526em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
