
/* line 76, ../scss/include/_base.scss */
.AIQ-in, .AIQ-out {
	-webkit-animation-duration: 150ms;
	   -moz-animation-duration: 150ms;
	    -ms-animation-duration: 150ms;
	     -o-animation-duration: 150ms;
	        animation-duration: 150ms;

	-webkit-animation-timing-function: ease-in-out;
	   -moz-animation-timing-function: ease-in-out;
	    -ms-animation-timing-function: ease-in-out;
	     -o-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;

	/* Prevent flickering on Android */
    /* Triggers a bug in Android 2: input fields scroll down the view automatically upon key press */
    -webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	     -o-backface-visibility: hidden;
	        backface-visibility: hidden;

	/* Triggers a bug in Android 2: input fields scroll down the view automatically upon key press */
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	     -o-transform: translateZ(0);
	        transform: translateZ(0);

	/* The folloing property causes problems with native scrolling
		 using -webkit-overflow-scrolling: touch; be carful 
		 It's also not widely supported - only >= 4
	-webkit-animation-fill-mode: both; */
}


/* Slide Left */
.AIQ-slideleft.AIQ-in {
	-webkit-animation-name: slideLeftIn;
	   -moz-animation-name: slideLeftIn;
}

.AIQ-slideleft.AIQ-out {
	-webkit-animation-name: slideLeftOut;
	   -moz-animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
	0%   { -webkit-transform: translateX(100%); } 
	100% { -webkit-transform: translateX(0);    }
}
@-moz-keyframes slideLeftIn {
	0%   { -moz-transform: translateX(100%); } 
	100% { -moz-transform: translateX(0);    }
}

@-webkit-keyframes slideLeftOut {
	0%   { -webkit-transform: translateX(0);     } 
	100% { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes slideLeftOut {
	0%   { -moz-transform: translateX(0);     } 
	100% { -moz-transform: translateX(-100%); }
}



/* Slide Right */
.AIQ-slideright.AIQ-in {
	-webkit-animation-name: slideRightIn;
	   -moz-animation-name: slideRightIn;
}

.AIQ-slideright.AIQ-out {
	-webkit-animation-name: slideRightOut;
	   -moz-animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
	0%   { -webkit-transform: translateX(-100%); }
	100% { -webkit-transform: translateX(0);     }
}
@-moz-keyframes slideRightIn {
	0%   { -moz-transform: translateX(-100%); }
	100% { -moz-transform: translateX(0);     }
}

@-webkit-keyframes slideRightOut {
	0%   { -webkit-transform: translateX(0);    }
	100% { -webkit-transform: translateX(100%); }
}
@-moz-keyframes slideRightOut {
	0%   { -moz-transform: translateX(0);    }
	100% { -moz-transform: translateX(100%); }
}


/* Slide Up */
.AIQ-slideup.AIQ-in {
	-webkit-animation-name: slideUpIn;
	   -moz-animation-name: slideUpIn;
}

.AIQ-slideup.AIQ-out {
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	        transform: translateY(-100%);
	
	-webkit-animation-name: slideUpOut;
	   -moz-animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
	0%   { -webkit-transform: translateY(100%); } 
	100% { -webkit-transform: translateY(0);    }
}
@-moz-keyframes slideUpIn {
	0%   { -moz-transform: translateY(100%); } 
	100% { -moz-transform: translateY(0);    }
}

@-webkit-keyframes slideUpOut {
	0%   { -webkit-transform: translateY(0);     } 
	100% { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes slideUpOut {
	0%   { -moz-transform: translateY(0);     } 
	100% { -moz-transform: translateY(-100%); }
}


/* Slide Down */
.AIQ-slidedown.AIQ-in {
	-webkit-animation-name: slideDownIn;
	   -moz-animation-name: slideDownIn;
}

.AIQ-slidedown.AIQ-out {
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	     -o-transform: translateY(100%);
	        transform: translateY(100%);

	-webkit-animation-name: slideDownOut;
	   -moz-animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
	0%   { -webkit-transform: translateY(-100%); } 
	100% { -webkit-transform: translateY(0);     }
}
@-moz-keyframes slideDownIn {
	0%   { -moz-transform: translateY(-100%); } 
	100% { -moz-transform: translateY(0);     }
}


@-webkit-keyframes slideDownOut {
	0%   { -webkit-transform: translateY(0);    } 
	100% { -webkit-transform: translateY(100%); }
}
@-moz-keyframes slideDownOut {
	0%   { -moz-transform: translateY(0);    } 
	100% { -moz-transform: translateY(100%); }
}


/* Popup dialogue transition */
.AIQ-popup.AIQ-in {
	-webkit-animation-name: AIQ-fadein, AIQ-scaleUp;
	   -moz-animation-name: AIQ-fadein, AIQ-scaleUp;

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;
}
.AIQ-popup.AIQ-out {
	opactiy: 0;
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	     -o-transform: scale(0.8);
	        transform: scale(0.8);

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;

	-webkit-animation-name: AIQ-fadeout, AIQ-scaleDown;
	   -moz-animation-name: AIQ-fadeout, AIQ-scaleDown;
}



/* Zoom in to item transition */
.AIQ-zoom.AIQ-in {
	-webkit-animation-name: AIQ-fadein, AIQ-zoomOut;
	   -moz-animation-name: AIQ-fadein, AIQ-zoomOut;

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;
}
.AIQ-zoom.AIQ-out {
	opactiy: 0;
	-webkit-transform: scale(1.5);
	   -moz-transform: scale(1.5);
	    -ms-transform: scale(1.5);
	     -o-transform: scale(1.5);
	        transform: scale(1.5);

	-webkit-animation-name: AIQ-fadeout, AIQ-zoomIn;
	   -moz-animation-name: AIQ-fadeout, AIQ-zoomIn;

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;
}



/* Popup dialogue transition */
.AIQ-scale.AIQ-in {
	-webkit-animation-name: AIQ-fadein, AIQ-scaleUpFull;
	   -moz-animation-name: AIQ-fadein, AIQ-scaleUpFull;

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;
}
.AIQ-scale.AIQ-out {
	opactiy: 0;
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	     -o-transform: scale(0.8);
	        transform: scale(0.8);

	-webkit-animation-timing-function: ease-in;
	   -moz-animation-timing-function: ease-in;

	-webkit-animation-name: AIQ-fadeout, AIQ-scaleDownFull;
	   -moz-animation-name: AIQ-fadeout, AIQ-scaleDownFull;
}


/* Android <4.0 only supports animating one property at a time,
 * needs one keyframe declaration per property: http://daneden.me/2011/12/putting-up-with-androids-bullshit/
 */

@-webkit-keyframes AIQ-fadein {
	0%   { opacity: 0; } 
	100% { opacity: 1; }
}
@-moz-keyframes AIQ-fadein {
	0%   { opacity: 0; } 
	100% { opacity: 1; }
}

@-webkit-keyframes AIQ-fadeout {
	0%   { opacity: 1; } 
	100% { opacity: 0; }
}
@-moz-keyframes AIQ-fadeout {
	0%   { opacity: 1; } 
	100% { opacity: 0; }
}


@-webkit-keyframes AIQ-scaleUp {
	0%   { -webkit-transform: scale(.8); } 
	100% { -webkit-transform: scale(1);  }
}
@-moz-keyframes AIQ-scaleUp {
	0%   { -moz-transform: scale(.8); } 
	100% { -moz-transform: scale(1);  }
}
@-webkit-keyframes AIQ-scaleUpFull {
	0%   { -webkit-transform: scale(0); } 
	100% { -webkit-transform: scale(1);  }
}
@-moz-keyframes AIQ-scaleUpFull {
	0%   { -moz-transform: scale(0); } 
	100% { -moz-transform: scale(1);  }
}

@-webkit-keyframes AIQ-scaleDown {
	0%   { -webkit-transform: scale(1);   } 
	100% { -webkit-transform: scale(0.8); }
}
@-moz-keyframes AIQ-scaleDown {
	0%   { -moz-transform: scale(1);   } 
	100% { -moz-transform: scale(0.8); }
}
@-webkit-keyframes AIQ-scaleDownFull {
	0%   { -webkit-transform: scale(1);   } 
	100% { -webkit-transform: scale(0); }
}
@-moz-keyframes AIQ-scaleDownFull {
	0%   { -moz-transform: scale(1);   } 
	100% { -moz-transform: scale(0); }
}



@-webkit-keyframes AIQ-zoomIn {
	0%   { -webkit-transform: scale(1);   } 
	100% { -webkit-transform: scale(1.5); }
}
@-moz-keyframes AIQ-zoomIn {
	0%   { -moz-transform: scale(1);   } 
	100% { -moz-transform: scale(1.5); }
}

@-webkit-keyframes AIQ-zoomOut {
	0%   { -webkit-transform: scale(1.5); } 
	100% { -webkit-transform: scale(1);   }
}
@-moz-keyframes AIQ-zoomOut {
	0%   { -moz-transform: scale(1.5); } 
	100% { -moz-transform: scale(1);   }
}


/* Used to trigger animationEnd event even though no visual transition required.
   Does not work in FF */
@-webkit-keyframes emptyAnim { 0% {} 100% {} }
@-moz-keyframes emptyAnim { 0% {} 100% {} }

.AIQ-none {
    -webkit-animation-name: emptyAnim;
       -moz-animation-name: emptyAnim;
}
