<header id="defects-header">
    <p>{{defectCount}} defect(s)</p>
    <button class="black">Add</button>
</header>
<article id="defects">
    <ul class="AIQ-ui-list">
        {{#defects}}
        <li>
            <a>{{description}}</a>
        </li>
        {{/defects}}
    </ul>
</article>
