{{#main}}
<header id="home-header">
    <div id="query-wrapper">
        <div>
            <input id="query-input" type="tel" placeholder="Search train" contenteditable="true" autocomplete="off" class="search"/>
        </div>
        <span>
            <button id="select-button" class="white">Select</button>
        </span>
    </div>
</header>
<article id="home">
    <ul class="AIQ-ui-list">
      <!-- trains to be rendered here asynchronously -->
    </ul>
</article>
{{/main}}

{{#trains}}
<li>
  <a>
    {{trainNumber}}
  </a>
</li>
{{/trains}}
