<header>
    <h1>Description of the damage</h1>

    <p class="progress-bar three"></p>
</header>

<article>
    <div>
        <textarea maxlength="670">{{description}}</textarea>
    </div>
</article>

<footer>
    <a role="next" class="right">
        <p>NEXT</p>
    </a>
</footer>
