<header class="report-damage-header">
    <h1>Attach pictures</h1>

    <p id="frivilligt">(optional)</p>

    <p class="progress-bar four"></p>
</header>

<article id="pictures-article">
    <div>
        <h2>Select the pictures you want to delete...</h2>
        <ul class="picture-list"/>
    </div>
</article>

<footer>
    <a role="take-picture"><p>TAKE PIC</p></a>
    <a role="pick-picture"><p>SELECT</p></a>
    <a role="modify"><p>MODIFY</p></a>
    <a role="delete"><p>DELETE</p></a>
    <a role="cancel"><p>CANCEL</p></a>
    <a role="next" class="right"><p>NEXT</p></a>
</footer>
