<header class="report-damage-header">
    <h1>Select vehicle part</h1>

    <p class="progress-bar one"></p>
</header>

<article id="vehicle-part-article">
    <ul class="AIQ-ui-list">
        {{#vehicleParts}}
        <li>
            <a>{{name}}</a>
        </li>
        {{/vehicleParts}}
    </ul>
</article>
