<article id="confirmation-article">
    <img src="css/assets/confirmation-bg.png" />
    <p>Damage report is saved<br />
        and will be sent to the server</p>
</article>

<footer id="confirmation-footer">
    <div class="action">
        <button id="report-new" class="black with-left-icon"><span>Report new damage</span></button>
    </div>
    <div class="action">
        <button id="back-home" class="black with-left-icon"><span>Back to train list</span></button>
    </div>
</footer>
