<header class="report-damage-header">
    <h1>Select train part</h1>

    <p class="progress-bar one"></p>
</header>

<article id="train-part-article">
    <ul class="AIQ-ui-list">
        {{#trainParts}}
        <li>
            <a>{{name}}</a>
        </li>
        {{/trainParts}}
    </ul>
</article>
