<div>
    <label>Reported</label><span class="date">{{date}}</span><span class="time">{{time}}</span>
</div>
<div>
    <label>Damage type</label><span>{{defect.heading}}</span>
</div>
<div>
    <label>Train part</label><span>{{defect.trainPart}}</span>
</div>
<div>
    <label>Description</label>
    <p>{{defect.defectText}}</p>
</div>
<div>
  <label>Defect cause</label>
  <p>{{defect.defectCause}}</p>
</div>
<div>
  <label>Operation</label>
  <p>{{defect.operation}}</p>
</div>
