<header id="defect-details-header">
    <p id="defect-details-heading"></p>
    <p id="defect-details-index-and-length"></p>
</header>

<article id="defect-details-data"></article>

<footer>
    <a role="pick-train" id="defect-details-pick-train">
        <p>SELECT TRAIN</p>
    </a>
    <a role="next-item" class="right">
        <p>NEXT</p>
    </a>
    <a role="previous-item" class="right">
        <p>PREV.</p>
    </a>
</footer>
