<header id="defects-header">
    <p class="defect-list-date">Date</p>

    <p class="damage-heading">Damage heading</p>

    <p class="damage-number">{{damageNumber}}</p>
</header>

<article id="defects-list">
</article>

<footer>
    <a role="pick-train">
        <p>SELECT TRAIN</p>
    </a>
    <a role="report-damage">
        <p>REPORT DAMAGE</p>
    </a>
</footer>