/* Import framework styles */
@import "../aiq/scss/css3";
@import "../aiq/scss/utils";
@import "../aiq/scss/theme-variables";

// Icons

// Backgrounds

// Cache images used on templates to prevent delays when loading
#imageCache {
}

// Colours

// Other general declarations
.AIQ-ui-list {
    a {
        padding-top: 0.4em;
    }
}

/*****************************************************************************
* Home view
*****************************************************************************/
#home {
    background-color: white;
}

/*****************************************************************************
* Defects view
*****************************************************************************/
#defects-header {
    height: auto;

    @include -aiq-clearfix();

    > button {
        float: right;

        padding: 0 1em;
        margin: 0.5em 1em;
    }
}
