<header id="damages-header">
    <p>{{damageCount}} damage(s)</p>
    <button class="black">Add</button>
</header>

<article id="damages">
    <ul class="AIQ-ui-list">
        {{#damages}}
        <li>
            <a>{{description}}</a>
        </li>
        {{/damages}}
    </ul>
</article>
