@mixin hdpi {
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
    @content;
    }
}

@mixin ellipsis($whiteSpace) {
    white-space: $whiteSpace;
    overflow: hidden;
    text-overflow: ellipsis;
}