.iscrolled-ancestor-article,
.iscrolled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.iscrolled-ancestor-article.with-header,
.iscrolled.with-header {
    top: 1.875em;
}

.iscrolled-ancestor-article.with-footer,
.iscrolled.with-footer {
    bottom: 3.125em;
}

.iscrolled-ancestor-article header,
header.fixed {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}

.iscrolled-ancestor-article footer,
footer.fixed {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
}

.iscrolled-higher-level-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
